body {
    background: url('1239a9f2-cdac-4186-9fe1-d5c425be44a7.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collisionCanvas {
    opacity: 0;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #218838;
    cursor: pointer;
}
